@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  text-align: center;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.authorization-form {
  @apply flex flex-col gap-4 items-center;
}
.authorization-form input {
  @apply border-2 py-2 px-2;
}

.authorization-form button {
  @apply bg-slate-700 shadow-md shadow-stone-700 font-bold text-neutral-200 py-2 px-4 rounded-md hover:bg-teal-900 hover:text-neutral-100 hover:shadow-teal-800;
}

.navigation-link {
  @apply flex gap-2 items-center text-lg font-semibold hover:text-teal-600;
}
.navigation-link.active {
  @apply text-teal-600;
}

.PhoneInputCountry {
  position: relative;
  left: 30px;
  z-index: 20;
}

.PhoneInputInput {
  position: relative;
  left: -20px;
  text-align: right;
}

.grid-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0.5rem;
  column-gap: 2rem;
}
